body {
  background: black !important;
}
.boxhomepoints {
  background: lime !important;
  color: black !important;
  font-size: 3vw !important;
}
.boxawaypoints {
  background: yellow !important;
  color: black !important;
  font-size: 3vw !important;
}
